
.mobile-only {
	display: none;
}

@media screen and (max-width: 1000px) {

	::-webkit-scrollbar-track {
		border-left: solid 2px var(--color-glass);
	}
	
}

main {
	flex-direction: row-reverse;
	margin: 4rem auto;
	width: 100rem;
	min-width: 900px;
	border-radius: 1rem;

	border-width: 2px;
	border-style: solid;
	border-color: var(--color-glass);
}

@media screen and (max-width: 1000px) {
	main {
		margin: 0rem;
		border-radius: 0rem;
		border-style: none;
	}
}

#main-left {
	display: block;
	margin: 2rem;
	width: 25%;
}

#main-right {
	margin: 2rem;
	width: 75%;
}

.item-timespan {
	margin-right: 2rem;
	width: 18rem;

	text-align: right;
}

.item-content {
	width: 75%;
}