/* width */
::-webkit-scrollbar {
	width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
	background-image: -webkit-linear-gradient(180deg, #050714, #1c141f);
	background-image: -moz-linear-gradient(180deg, #050714, #1c141f);
	background-image: -ms-linear-gradient(180deg, #050714, #1c141f);
	background-image: -o-linear-gradient(180deg, #050714, #1c141f);
	background-image: linear-gradient(180deg, #050714, #1c141f);

	background-color: #1c141fff;
}



/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-glass);
}


.mobile-only {
	display: none;
}

@media screen and (max-width: 1000px) {

	::-webkit-scrollbar-track {
		border-left: solid 2px var(--color-glass);
	}
	
}

main {
	flex-direction: row-reverse;
	margin: 4rem auto;
	width: 100rem;
	min-width: 900px;
	border-radius: 1rem;

	border-width: 2px;
	border-style: solid;
	border-color: var(--color-glass);
}

@media screen and (max-width: 1000px) {
	main {
		margin: 0rem;
		border-radius: 0rem;
		border-style: none;
	}
}

#main-left {
	display: block;
	margin: 2rem;
	width: 25%;
}

#main-right {
	margin: 2rem;
	width: 75%;
}

.item-timespan {
	margin-right: 2rem;
	width: 18rem;

	text-align: right;
}

.item-content {
	width: 75%;
}