:root {
	--color-glass: #ffffff11;
}

* {
	box-sizing: border-box;
}


body {
	width: 100%;

	background-repeat: repeat-x;

	background-image: -webkit-linear-gradient(180deg, #050714, #1c141f);
	background-image: -moz-linear-gradient(180deg, #050714, #1c141f);
	background-image: -ms-linear-gradient(180deg, #050714, #1c141f);
	background-image: -o-linear-gradient(180deg, #050714, #1c141f);
	background-image: linear-gradient(180deg, #050714, #1c141f);


	background-color: #1c141fff;
	font-family: 'Open Sans', sans-serif;

	font-size: 14px;
	line-height: 1.42857143;
}

main {
	display: flex;
	color: #e9e9e9;
	background-color: var(--color-glass);
}

#main-right {
	display: block;
	min-width: 300px;
}

.separator-vertical {
	display: inline-block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: .1rem;
	background-image: radial-gradient(circle, #ffffff22 75%, #ffffff00);
}

.separator-horizontal {
	display: inline-block;
	width: 100%;
	height: .1rem;
	background-image: radial-gradient(circle, #ffffff22 75%, #ffffff00);

}

#profile-container {
	display: flex;
	flex-direction: row;

}

#profile-picture {
	display: block;
	margin: 1rem;
	width: 25%;
	height: auto;
	border-radius: 1rem;
}

#name-container {
	display: block;
	margin: 1rem;

	width: fit-content;
}

#name-container h1 {
	margin: 0rem;
	font-size: 4rem;
}

#name-container h2 {
	margin: 0rem;
	font-size: 2rem;
}


#name-container h3 {
	margin: 0rem;
	font-size: 2rem;
}

ul {
	padding-left: 2rem;
}

#main-content-list {
	display: flex;
	flex-direction: column;

}

.major-header {
	display: block;
	margin: 1rem;
	padding: 1rem;
	width: fit-content;
	border-radius: 1rem;
	background-color: var(--color-glass);
}

.content-card {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--color-glass);

}

.item {
	display: flex;
	padding: 1rem;
	width: 100%;

}

.item-timespan {
	display: block;

	font-family: monospace;
}

.item-content {
	display: block;
}

.item-title {
	display: block;
	margin: 0;
	width: 100%;
}

h4.item-subtitle {
	margin-left: 0rem;
}

.item-subtitle {
	display: block;
	width: 100%;
}

.item-description {
	margin-left: 2rem;
	min-height: 2rem;
}

.item-references {
	display: block;
	margin-top: 1rem;
	margin-bottom: 0rem;
	width: 100%;
}